<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Links</title>
</head>
<body>
    <ul>
        <h3><li><a href="/admin/">Admin</a></li></h3> </br>
        <h3><li><a href="/api/students/" name="student-list-create">Student List/Create</a></li></h3> </br>
        <h3><li><a href="/api/teachers/" name="teacher-list-create">Teacher List/Create</a></li></h3> </br>
        <h3><li><a href="/api/groups/" name="group-list-create">Group List/Create</a></li></h3> </br>
        <h3><li><a href="/api/exams/" name="exam-list-create">Exam List/Create</a></li></h3> </br>
        <h3><li><a href="/api/schedules/" name="schedule-list-create">Schedule List/Create</a></li></h3> </br>
        <h3><li><a href="/api/subjects/" name="subject-list-create">Subject List/Create</a></li></h3> </br>
        <h3><li><a href="/api/courses/" name="course-list-create">Course List/Create</a></li></h3> </br>
        <h3><li><a href="/api/rooms/" name="room-list-create">Room List/Create</a></li></h3> </br>
    </ul>
</body>
</html>
